<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container">
    <h2>Invitaciones</h2>
    <p>Las invitaciones pendientes son las siguientes:</p>
    <button type="button" id="updateButton" class="btn btn-default">Actualizar</button>
    <script th:inline="javascript"> /*<![CDATA[*/
    $("#updateButton").click(function () {
        var numberPage = [[${param.page}]];
        var urlUpdate = '/friend/invitation/update';
        if (numberPage != null) {
            urlUpdate += "?page=" + numberPage[0];
        }
        $("#tableFriends").load(urlUpdate);
    }); /*]]>*/
    </script>
    <div th:fragment="tableFriends">
        <div th:if="${friendsForAll.isEmpty()}" class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <span th:text="#{friend.sad}"></span>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover" th:fragment="tableFriends" id="tableFriends">

                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="var : ${friendsForAll}">
                    <td scope="row" th:text="${var.user.name}">Nombre del usuario</td>
                    <td scope="row" th:text="${var.user.surname}">Apellidos del usuario</td>
                    <td scope="row" th:text="${var.user.email}">Email del usuario</td>
                    <td scope="row"><a></a>
                        <div>
                            <button type="button" th:id="${'AceptButton' + var.user.id}"
                                    class="btn btn-success">
                                <span th:text="#{button.accept}"></span>
                            </button>
                            <script th:inline="javascript"> /*<![CDATA[*/
                            $("#AceptButton" + "[[${var.user.id}]]").click(function () {
                                $.get("/friend/[[${var.user.id}]]/accept", function () {
                                    var numberPage = [[${param.page}]];
                                    var urlUpdate = '/friend/invitation/update';
                                    if (numberPage != null) {
                                        urlUpdate += "?page=" + numberPage[0];
                                    }
                                    $("#tableFriends").load(urlUpdate);
                                });
                            }); /*]]>*/
                            </script>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
