<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"><title>Invitation Friends</title></head>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"></nav>
<div class="container">
    <h2><span th:text="#{friend.invitation}"></span></h2>
    <p><span th:text="#{friend.invitation.message}"></span></p>
    <button type="button" id="updateButton" class="btn btn-default"><span th:text="#{button.update}"></span></button>
    <script th:inline="javascript">
    $("#updateButton").click(function () {
        var numberPage = [[${param.page}]];
        var urlUpdate = '/friend/invitation/update';
        urlUpdate += "?page=" + numberPage[0];
        $("#tableFriends").load(urlUpdate);
    });
    </script>
    <div th:fragment="tableFriends">
        <div th:if="${friendsForAll.isEmpty()}" class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <span th:text="#{friend.sad}"></span>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover" th:fragment="tableFriends" id="tableFriends">

                <thead>
                <tr>
                    <th scope="col"><span th:text="#{friend.invitation.nameTable}"></span></th>
                    <th scope="col"><span th:text="#{friend.invitation.surnameTable}"></span></th>
                    <th scope="col"><span th:text="#{friend.invitation.emailTable}"></span></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="var : ${friendsForAll}">
                    <td th:text="${var.user.name}"><span th:text="#{friend.invitation.name}"></span></td>
                    <td th:text="${var.user.surname}"><span th:text="#{friend.invitation.email}"></span></td>
                    <td th:text="${var.user.email}"><span th:text="#{friend.invitation.surname}"></span></td>
                    <td><a></a>
                        <div>
                            <button type="button" th:id="${'AceptButton' + var.user.id}"
                                    class="btn btn-success">
                                <span th:text="#{button.accept}"></span>
                            </button>
                            <script th:inline="javascript">
                            $("#AceptButton" + "[[${var.user.id}]]").click(function () {
                                $.get("/friend/[[${var.friend.id}]]/accept", function () {
                                    var numberPage = [[${param.page}]];
                                    var urlUpdate = '/friend/invitation/update';
                                    urlUpdate += "?page=" + numberPage[0];
                                    $("#tableFriends").load(urlUpdate);
                                });
                            });
                            </script>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:replace="fragments/pagination"></footer>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
