<table class="table table-hover" th:fragment="tablePublications" id="tablePublications"
       xmlns:sec="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th scope="col" th:text="#{publication.title}">Título</th>
        <th scope="col" th:text="#{publication.text}">Publicación</th>
        <th scope="col" th:text="#{publication.date}">Fecha de publicación</th>
        <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{publication.author}"></th>
        <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{publication.state}"></th>
        <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{publication.state.change}"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="publication : ${publicationsList}">
        <td th:text="${publication.title}"> Ejercicio 1</td>
        <td th:text="${publication.text}">10</td>
        <td th:text="${publication.publishingDate}">10</td>
        <td th:if="${!#strings.isEmpty(publication.foto)}">
            <img class="img.thumbnail rounded float-left" th:src="@{'/Productos/' + ${publication.foto}}" >
        </td>
        <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${publication.user.email}"></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')" th:id="${publication.id}" th:text="${publication.state}"></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">


            <div>
                <input type="radio" th:id="'aceptada'+${publication.id}" value="aceptada" th:name=${publication.id}
                       checked=false th:attr="onclick=|changeState('${publication.id}','Aceptada')|">
                <label th:for="'aceptada'+${publication.id}">Aceptada</label>
            </div>
            <div>
                <input type="radio" th:id="'moderada'+${publication.id}" value="moderada" th:name=${publication.id}
                       checked=false th:attr="onclick=|changeState('${publication.id}','Moderada')|">
                <label th:for="'moderada'+${publication.id}" >Moderada</label>
            </div>
            <div>
                <input type="radio" th:id="'censurada'+${publication.id}" value="censurada" th:name=${publication.id}
                       checked=false th:attr="onclick=|changeState('${publication.id}','Censurada')|">
                <label th:for="'censurada'+${publication.id}">Censurada</label>
            </div>
            <script th:inline = "javascript">
                var publicationid = [[${publication.id}]];
                var newState = [[${publication.state}]];

                console.log("state changing "+newState);
                if (newState==='Aceptada') {
                    document.querySelector('#aceptada'+publicationid).checked = true;
                } else if (newState==='Moderada') {
                    document.querySelector('#moderada'+publicationid).checked = true;
                } else if (newState==='Censurada') {
                    document.querySelector('#censurada'+publicationid).checked = true;
                }
            </script>
            <script th:inline = "javascript" >
                function changeState(publicationid, newState) {
                    $("#"+publicationid).text(newState);

                    var urlUpdate = '/publication/edit?id='+publicationid+'&state='+newState;
                    location.href = "http://localhost:8090" + urlUpdate;
                }
            </script>
        </td>
    </tr>
    </tbody>
</table>
