<table class="table table-hover" th:fragment="tablePublications" id="tablePublications"
       xmlns:sec="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th scope="col" th:text="#{publication.title}">Título</th>
        <th scope="col" th:text="#{publication.text}">Publicación</th>
        <th scope="col" th:text="#{publication.date}">Fecha de publicación</th>
        <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{publication.author}"></th>
        <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{publication.state}"></th>
        <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{publication.state.change}"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="publication : ${publicationsList}">
        <td th:text="${publication.title}"> Ejercicio 1</td>
        <td th:text="${publication.text}">10</td>
        <td th:text="${publication.publishingDate}">10</td>
        <td th:if="${!#strings.isEmpty(publication.foto)}">
            <img class="img.thumbnail rounded float-left" th:src="@{'/Productos/' + ${publication.foto}}" >
        </td>
        <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${publication.user.email}"></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')" th:id="${publication.id}" th:text="${publication.state}"></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')" th:attr="onload=|checkState('${publication.id}','{publication.state}')|">
            <script th:inline = "javascript">
                function checkState(publicationid, state) {
                    console.log("state changing"+state);
                    if (state.equals('Aceptada')) {
                        document.querySelector('#' + publicationid + 'aceptada').checked = true;
                    } else if (state.equals('Moderada')) {
                        document.querySelector('#' + publicationid + 'moderada').checked = true;
                    } else {
                        document.querySelector('#' + publicationid + 'censurada').checked = true;
                    }
                }
            </script>
            <div>
                <input type="radio" th:id="${publication.id+'aceptada'}" value="aceptada" th:name=${publication.id}
                       th:attr="onclick=|changeState('${publication.id}','Aceptada')|">
                <label th:for="${publication.id+'aceptada'}">Aceptada</label>
            </div>
            <div>
                <input type="radio" th:id="${publication.id+'moderada'}" value="moderada" th:name=${publication.id}
                       th:attr="onclick=|changeState('${publication.id}','Moderada')|">
                <label th:for="${publication.id+'moderada'}" >Moderada</label>
            </div>
            <div>
                <input type="radio" th:id="${publication.id+'censurada'}" value="censurada" th:name=${publication.id}
                       th:attr="onclick=|changeState('${publication.id}','Censurada')|">
                <label th:for="${publication.id+'censurada'}">Censurada</label>
            </div>
            <script th:inline = "javascript" >
                function changeState(publicationid, newState) {
                    $("#"+publicationid).text(newState);
                    var urlUpdate = '/publication/edit?id='+publicationid+'&state='+newState;
                    location.href = "http://localhost:8090" + urlUpdate;
                }
            </script>
        </td>
    </tr>
    </tbody>
</table>
